__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
bin/
lib/
include/
local/
.pytest_cache/
.coverage
.tox/
.nox/
.cache/
.docs/
data/
logs/
.git/
.gitignore
.vscode/
.env
Dockerfile
docker-compose.yml
